/* Nav  */
/* .sidebar-wrapper .metismenu li:first-child {
    margin-top: 0px;
} */
.sidebar-wrapper .metismenu a {
    padding: 2px 2px;
}

.sidebar-wrapper .metismenu a .parent-icon {
    font-size: 18px;
}
.sidebar-wrapper .metismenu ul a {
    padding: 2px 15px 2px 15px;
}