/* Nav  */
.sidebar-wrapper .metismenu a {
    padding: 2px 2px;
}

.sidebar-wrapper .metismenu a .parent-icon {
    font-size: 18px;
}
.sidebar-wrapper .metismenu ul a {
    padding: 2px 15px 2px 15px;
}

.wrapper .page-content {
    padding: 5px 1.5rem 1.5rem 1.5rem !important;
}

.required::after {
    content: "*";
    color: red;
    font-weight: bold;
}
