._top_menu{
    text-align: center

}
.right-content{
    display: inline-block;
    width: 200px;
    margin: auto !important;
    text-align: center

}
.top_menu ul{
    position: relative;
    overflow: visible;
    z-index: 999999999999999999999999999;
}
.top_menu ul li ul {
    z-index: 9999;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 5px 5px;
    visibility: hidden;
    opacity: 0;
    background: white;
    transition: all .4s ease-in-out;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.top_menu ul li ul li{
    text-align: left;
    padding: 5px 10px;
}
.top_menu ul li ul li a{
    display: block;
}
.top_menu ul li:hover ul{
    visibility: visible;
    opacity: 1;
}
.top_menu ul li ul li:hover{
    background: #F7941D;
    transition: all .4s ease-in-out;
}

header.shop .middle-inner {
    padding: 5px 0;
}
.header .shopping .shopping-item {
    top: 25px;
    right: -15px;
}


.btn_sm{
    padding: 8px 32px;
}

.form-check-input {
    margin-top: 6px;
    margin-left: 1px;
}

.owl-nav {
    display: none !important;
 }
 .owl-theme .owl-dots {
    margin-top: -42px;
 }
 .owl-controls {
    z-index: 99999999;
 }
.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-nav button.owl-next {
    right: 0;
  }

  .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #000;
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.38) !important;
  }
  .owl-controls span {
      font-size: 70px;
      position: relative;
      top: -5px;
  }
  .owl-nav button:focus {
      outline: none;
  }
